<!DOCTYPE html>
<style>
    {%include 'style.css' %}
</style>
<body style="margin: 0px; padding: 0px; font-family: arial, sans-serif;">

    <table width="100%" style="height: 100%;" cellpadding="10" cellspacing="0" border="0">
        <tr>

            <!-- ============ HEADER SECTION ============== -->
            <table width="100%" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td colspan="2" height="80px" bgcolor="#5B7AA7">
                        <font size="5.5" color="#F6DE82" align="left" valign="center"><b>OPEN IRRIGATION</b></font>
                    </td>
                </tr>



                <!-- ============ NAVIGATION BAR SECTION ============== -->
                <tr>
                    <td colspan="2" valign="middle" height="50" bgcolor="#EBF1FA">
                        <a href="/index.html" class="StandardButton">HOME</a>
                        <a href="/gardendata.html" class="StandardButton">SETTINGS</a>

                        <style media="screen" type="text/css">
                            .StandardButton {
                                background-color: #77b55a;
                                -moz-border-radius: 4px;
                                -webkit-border-radius: 4px;
                                border-radius: 4px;
                                border: 1px solid #4b8f29;
                                display: inline-block;
                                cursor: pointer;
                                color: #ffffff;
                                font-family: Arial,sans-serif;
                                font-size: 12px;
                                font-weight: bold;
                                margin: 5px;
                                padding: 10px 16px;
                                text-decoration: none;
                                text-shadow: 0px 0px 0px #5b8a3c;
                            }

                            .StandardButton:hover {
                                background-color: #72b352;
                            }

                            .StandardButton:active {
                                position: relative;
                                top: 1px;
                            }
                        </style>
                    </td>
                </tr>


                <!-- ============ LEFT COLUMN (MENU) ============== -->
                <td width="80%" valign="top" bgcolor=#FAFBFB>
                    <h2>Your settings have been saved</h2>
                    The irrigation computer will reboot.<br>
                    Please wait one minute for the initialisation to be completed<br><br>
                    The IP address of the Irrigation computer is: <a href="http://{{ ipr }}">{{ ip }}</a><br><br>
                    The IP address of the router is: <a href="http://{{ ipr }}">{{ ip }}</a><br><br>
                    Your irrigation history and settings can be accessed by entering the IP address in your browsers
                    address bar.<br>
                    If this was your initial setup, go to the settings page to configure your irrigation system and
                    garden data.<br>
                    If you had an irrigation computer before, the system will try to download a backup to recover all
                    your data.<br><br>
                    For support or assistance feel free to contact an Open Irrigation partner in your neighbourhood.<br>
                    More details about our support can be found at the <a
                        href="https://gitlab.com/jtdaling/OpenIrrigation">Open Irrigation website</a>.
                    <table>
                    </table>


                    <!-- ============ FOOTER SECTION ============== -->
                    <table width="100%" height="7" bgcolor="#FAFBFB">
                        <td align="right">
                            <font size="2">Open Irrigation version {{ version }}&nbsp;&nbsp;
                            </font></td>
                    </table>
</body>
