h2 {
    display: block;
    background-color: #72AAD8;
    align: left;
    width: 108%;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: -10;
    margin-right: 0;
    padding: 0px;
    position: relative;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

h3 {
    display: block;
    align: left;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    position: relative;
    font-weight: bold;
    color: #1671AE;
    font-size: 1.2em;
}

h4 {
    display: block;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    align: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    position: relative;
    font-weight: bold;
    color: #4F4F4F;
    font-size: 1.2em;
}

h5 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    align: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    position: relative;
    font-weight: bold;
    color: #4F4F4F;
    font-size: 1.0em;
}
